@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html {
    background-image: url(../../assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Press Start 2P', cursive;
    height: 100%;
    margin: 40px 40px;
    align-content: center;
    align-items: center;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    width: 1050px;
    margin: 0 auto;
    font-family: 'Luckiest Guy', cursive;
    font-size: 48px;
    color: #ffcb06;
    letter-spacing: 7px;
    -webkit-text-stroke: 3px #395ba8;
    
}

header img {
    width: 15%;
}
.img {
    display: inline-block;
    border: 5px solid black;
    width: 200px;
    height: 200px;
    background-color: lightgray;
    border-radius: 20%;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    overflow:hidden;
    margin: 20px;
}
.img:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-color: rgb(128, 176, 128);
}
.ash, .brock, .yami, .joey {
    width: 100%;
}
.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.character {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selecttext {
    margin: 40px 0;
}
.next {
    background-color: #f5b7b1; 
    border: 3px solid #d35400; 
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    margin-top: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.next:hover {
    cursor: pointer;
}
button:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 2px 8px rgba(0, 0, 0, 0.3) inset;
  }

